.introduction-content-container {
  background-color: #ffffff;
}
.introduction-image {
  background: url(/images/home/start/two_people_hiking_on_mountain_during_daytime.jpg)
    no-repeat;
  background-size: cover;
  height: 150px;
  margin-bottom: 2px;
}
.introduction-content {
  background-image: url(/images/home/start/man_ice_skiing_on_hill_cropped_and_resized.jpg),
    url(/images/home/start/man_with_snowboard_standing_on_top_of_mountain_cropped_and_resized.jpg),
    url(/images/home/start/two_people_canoeing_resized.jpg);
  background-position: left, center, right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 33% 100%, 33% 100%, 33% 100%;
  height: 80px;
}
.introduction-content h2 {
  margin: 0;
  text-align: center;
  padding-top: 60px;
}
body {
  background-color: #0a3641;
  color: #ffffff;
}

main {
  margin: 20px;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
}
.explore button {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 0;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}
.product img,
.activity img {
  width: 100%;
}

.product a {
  text-decoration: none;
  color: #ffffff;
}

.product-name {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0px;
}

.activity-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 0px;
}

.activity {
  position: relative;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5b7880;
  color: #ffffff;
  padding: 10px;
  font-size: 2rem;
}
