/* THIS PAGE IS QUITE A MESS!*/

body {
  background-color: #0a3641;
}

/* MAIN */
img {
  width: 100%;
}

main {
  margin: 50px;
  color: #ffffff;
  background-color: #0a3641;
}

h1 {
  font-size: 4.8rem;
  text-align: center;
}

.shop-womens-jackets h1 {
  text-align: left;
  font-size: 3.6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 3.6rem;
  font-weight: normal;
}

p {
  font-size: 2rem;
}

.introduction-image {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url(/pictures/home/start/two_people_hiking_on_mountain_during_daytime.jpg);
}
.introduction-content {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.introduction-content h1 {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
}

.button-container {
  position: absolute;
  bottom: 150px;
  left: 70%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
}

.explore-women-men button {
  margin-top: 40px;
  padding: 10px;
  border: 3px solid white;
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 3.6rem;
}

.introduction-images-part2 {
  width: 100%;
  background-image: url(/pictures/home/start/man_ice_skiing_on_hill_cropped.jpg),
    url(/pictures/home/start/man_with_snowboard_standing_on_top_of_mountain_cropped.jpg),
    url(/pictures/home/start/two_people_canoeing.jpg);
  background-repeat: no-repeat;
  background-position: left, center, right;
  background-size: 450px, 500px, 200px;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-womens-jackets {
  background-color: #5b7880;
  text-align: center;
  margin: 10px;
}

.product {
  text-align: center;
  margin: 10px;
}

.product a {
  text-decoration: none;
  color: #ffffff;
}

.product-womens-jackets a {
  text-decoration: none;
  color: #ffffff;
}

.product img {
  width: 100%;
  max-width: 300px;
}

.product-womens-jackets img {
  width: 100%;
  max-width: 300px;
}

.product-name {
  margin-top: 5px;
}

.product-price {
  font-weight: bold;
}

.activity-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.activity {
  position: relative;
}

.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5b7880;
  color: #ffffff;
  padding: 10px;
  font-size: 2.8rem;
}

.activity img {
  width: 100%;
  max-width: 350px;
}
